
@if (@Session["cliente"]!=null)
{   ElBaraticoWeb.Models.ClienteModel cliente=(ElBaraticoWeb.Models.ClienteModel)Session["cliente"];
    using (Html.BeginForm("SalirSistema", "Login", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @*@Html.AntiForgeryToken()*@

        <ul class="nav navbar-nav navbar-right">
            <li><img src="~/Content/Images/modificar.png" width="30" class="img-menu"/></li>
            <li>
                @Html.ActionLink("Hola " + cliente.nombre + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión </a> </li>
            <li> <img src="~/Content/Images/salir.png" width="30" class="img-menu" onclick="javascript:document.getElementById('logoutForm').submit()" /> </li>
        </ul>
    }
}
else if (@Session["admin"] != null)
{
    ElBaraticoWeb.Models.AdministradorModel admin = (ElBaraticoWeb.Models.AdministradorModel)Session["admin"];
    using (Html.BeginForm("SalirSistema", "Login", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @*@Html.AntiForgeryToken()*@

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hola " + admin.nombre + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión <img src="~/Content/Images/salir.png" width="30" /></a></li>
            <li> <img src="~/Content/Images/salir.png" width="30" class="img-menu" onclick="javascript:document.getElementById('logoutForm').submit()" /> </li>
        </ul>
    }
}



@*@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}*@
